{% extends "food/base.html" %}
{% block content %}
{% load static %}

<html>
<body>

<div class="a-div">
    <hr>
<div class="frame">
    <img src="{% static 'food/mumimage.jpg' %}" alt="Owner's image" width="200" style= "border: 5px solid #555;">
    <hr>
</div>

I am Olubunmi Enifeni, the founder of Bunkej's Kitchen. I am a Nigerian. I gained my expertise on African cuisines culinary in Lagos state, Nigeria and earned a <a href="#" target="_self" style="color:rgb(255,193,7,1)">certificate</a> before moving to the UK, where I started Bunkej's Kitchen.
</div>

</body>
</html>


{% endblock %}