{% extends "food/base.html" %}
{% block content %}

{% load static %}

<div class="hero-image">
    <div class="hero-text">
        <h1 style="color:white">Bunkej's Kitchen</h1>
        <p style="color:white">We leave our legacy on your tongue...</p>
        <a href="{% url 'mealpage' %}"><button type="button" class="btn btn-outline-warning">See our cuisines</button></a>
        <a href="{% url 'objective' %}"><button type="button" class="btn btn-outline-info">Create your custom order</button></a>
    </div>
</div>
<hr>
<br>
<div class="row justify-content-center mb-3">
    <div class="col-md-9 text-center">
<h6>Take a look at our sumptuous <a href="{% url 'mealpage' %}" style="color:#f0ad4e">delicacies</a> ☝🏽. Explore till you find what you want. If you don't get exactly what you need, don't you worry 😉, we've got you 👌🏽,  just create your own unique order by <a href="tel:+4477940791776" style="color:#5bc0de">calling us</a>.</h6>
    </div>
</div>

<hr>
<!-- Footer -->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
                    <h4>About</h4>
                    <p>
                        We are a young business always looking for new and creative ways to help you with our services by easing your everyday work.
                    </p>
                    <p><a href="{% url 'objective' %}" style="text-decoration:underline; color:black;">Our Services</a></p>
                    <p><a href="{% url 'aboutpage' %}" style="text-decoration:underline; color:black;">About</a></p>
                </div>
                <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                    <h4>Contact</h4>
                    <p><i class="fa fa-map-marker"></i> United Kingdom</p>
                    <p><i class="fa fa-phone"></i> Phone: +447  7940  791776</p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="mailto:ebimkeji@gmail.com" style="text-decoration:underline; color:black;">ebimkeji@gmail.com</a></p>
                </div>
                <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
                    <h4>Follow us</h4>
                    <p>
                        <a href="https://web.facebook.com/profile.php?id=100007106112838&_rdc=1&_rdr" target="_blank" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/olubunmienifeni/" target="_blank" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5 footer-copyright">
                    <p style="color:#5bc0de">&copy; Bunkej's Kitchen 2021. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}



