{% extends "food/base.html" %}
{% block content %}

<html>
<head>
    <style>
    img {
   padding:1px;
   border:1px solid #5bc0de;
   background-color:white;
}
</style>
</head>
<body style="background-color:white;">

<div class="container">
<h3 style="color:#5bc0de; text-align:center">Our Legendary Dishes</h3>
    <br>
    We are very flexible with our services. Taste, quantity and combination are tailored to your preference. Our menu only serves as an assistance to what you can order from.
<div class="row">
    {% for meal in meals %}

    <div class="col-lg-3 col-md-6">

        {% if meal.url %}
        <a href="{% url 'orderpage' %}">
            <img src="{{ meal.image.url }}" class="img-fluid mb-2">
        </a>
        {% else %}

        <img src="{{ meal.image.url }}" class="img-fluid mb-2">
        {% endif %}
        <h6>{{ meal.title }}</h6>
        <p style ="font-family:georgia,garamond,serif;font-size:16px;font-style:italic;">{{ meal.description }}</p>
    </div>
    {% endfor %}
    </div>
</div>
</body>
</html>

<div class="container text-center"><a href="{% url 'orderpage' %}" class="btn btn-outline-info">Make Order</a></div>
<br>
<!--<div class="container text-center"><a href="{% url 'orderpage' %}" class="btn btn-outline-info">Create custom Order</a></div>-->

<!-- Footer -->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
                    <h4>About</h4></a>
                    <p>
                        We are a young business always looking for new and creative ways to help you with our services by easing your everyday work.
                    </p>
                    <p><a href="{% url 'objective' %}">Our Services</a></p>
                    <p><a href="{% url 'aboutpage' %}">About</a></p>
                </div>
                <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                    <h4>Contact</h4>
                    <p><i class="fa fa-map-marker"></i> United Kingdom</p>
                    <p><i class="fa fa-phone"></i> Phone: +447  7940  791776</p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="mailto:ebimkeji@gmail.com">ebimkeji@gmail.com</a></p>
                </div>
                <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
                    <h4>Follow us</h4>
                    <p>
                        <a href="https://web.facebook.com/profile.php?id=100007106112838&_rdc=1&_rdr" target="_blank" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/olubunmienifeni/" target="_blank" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5 footer-copyright">
                    <p>&copy; Bunkej's Kitchen 2021. All rights reserved</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}

