{% extends "food/base.html" %}
{% block content %}

<h2 style="color:#5bc0de">We cook family-size <a href="{% url 'mealpage' %}" style="color:#5bc0de">cuisines</a> and provide them in two ways:</h2>

<h5>Home services</h5> - We come to your house to make your meals for you.

<br>
<h5>Ready made delivery</h5> - We cook your meals for you from our kitchen and send it over to your house.

<hr>

<h3 style="color:#5bc0de">How orders are made:</h3>
◻Family of 3 package
<br>
◻Family of 5 package
<br>
◻Family of 8 package
<br>
◻Family of 12 package

<br>

<div class="container text-center"><a href="tel:+4477940791776" class="btn btn-outline-warning">Order Now!</a></div>

{% endblock %}