{% extends "food/base.html" %}
{% block content %}

{% load static %}

<div class="another-image">
    <div class="hero-text">
        <h1 style="color:white">You are one step closer from having one of the best meals of your lifetime</h1>
        <a href="tel:+4477940791776"><button type="button" class="btn btn-outline-info">Call to make order</button></a>
    </div>
</div>

<div class="a-div">
    <div class="col-md-11">
        <hr>
<h4><b>Don't know how to make an order?</b></h4>
<h6><a href="{% url 'mealpage' %}" style="color:rgba(50,50,50,1)">1.)Take a look at our cuisines</a></h6>
<br>
<h6>2.)Click this 👉🏽 <a href="{% url 'objective' %}" style="color:#5bc0de">How orders are made</a></h6>
<br>
        <h6>3.)To complete your order;<li><p>Call ☎<a href="tel:+4477940791776" style="color:#5bc0de"> +447 7940 791776</a></p></li>
<p style="color:#5bc0de">You can also:</p>
            <li><h6>Send a text message ✉ to +447  7940  791776</li>
        <p style="color:#5bc0de">Or</p>
            <li><h6>Send us an email 📧 to <a href="mailto:ebimkeji@gmail.com" style="color:#5bc0de">ebimkeji@gmail.com</a></h6></li>
<hr>
        Note: <h8 style="color:red">We only receive phone calls on Sundays, Mondays and Saturdays. <h8 style="color:green">You can send us a text message or an email on any day of the week!</h8></h8>
        <hr>
    </div>
</div>


<!-- Footer -->
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4 footer-about wow fadeInUp">
                    <h4>About</h4>
                    <p>
                        We are a young business always looking for new and creative ways to help you with our services by easing your everyday work.
                    </p>
                    <p><a href="{% url 'objective' %}" style="text-decoration:underline; color:black;">Our Services</a></p>
                    <p><a href="{% url 'aboutpage' %}" style="text-decoration:underline; color:black;">About</a></p>
                </div>
                <div class="col-md-4 col-lg-4 offset-lg-1 footer-contact wow fadeInDown">
                    <h4>Contact</h4>
                    <p><i class="fa fa-map-marker"></i> United Kingdom</p>
                    <p><i class="fa fa-phone"></i> Phone: +447  7940  791776</p>
                    <p><i class="fa fa-envelope"></i> Email: <a href="mailto:ebimkeji@gmail.com" style="text-decoration:underline; color:black;">ebimkeji@gmail.com</a></p>
                </div>
                <div class="col-md-4 col-lg-3 footer-social wow fadeInUp">
                    <h4>Follow us</h4>
                    <p>
                        <a href="https://web.facebook.com/profile.php?id=100007106112838&_rdc=1&_rdr" target="_blank" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="https://www.instagram.com/olubunmienifeni/" target="_blank" class="fa fa-instagram"></a>
                        <a href="#" class="fa fa-youtube"></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-5 footer-copyright">
                    <p style="color:#5bc0de">&copy; Bunkej's Kitchen 2021. All rights reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}